.navbar {
  display: flex;
  font-family: Moderat;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #eeedec;
  color: #0077ff;
  align-items: center;
  width: 100%;
}
.links {
  display: box;
  font-family: Moderat;
  flex-direction: row;
  justify-content: end;
  color: #000000;
  font-size: large;
  padding-right: 20px;
}

.main-logo {
  display: flexbox;
  padding-left: 20px;
  height: 100px;
  width: 200px;
}
