.meet-the-team-container {
  display: flex;
  flex-direction: column;
  background-color: #0077ff;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.meet-the-team-content-container {
  width: 75%;
  margin: 50px;
  align-items: center;
  justify-content: center;
}

.meet-the-team-image {
  width: 100%;
  border-radius: 10px;
}

.shrink-on-hover {
  display: flex;
  transition-duration: 0.3s;
}
.shrink-on-hover:hover,
.shrink-on-hover:active {
  transform: scale(0.97);
}

.meet-the-team-link {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  color: #eeedec;
}

.yellow-dot {
  width: 15px;
  padding-right: 10px;
}
