.cursor-normal {
  width: 25px;
  z-index: 999;
  mix-blend-mode: difference;
}

.cursor-hover {
  width: 25px;
  z-index: 999;
}

@media screen and (max-width: 768px) {
  .cursor-normal {
    display: none;
    opacity: 0;
  }

  .cursor-hover {
    display: none;
    opacity: 0;
  }
}
