.floating-icons-container-2 {
  display: flex;
  justify-content: space-between;
  position: absolute;
  justify-content: center;
  position: absolute;
  width: 100vmax;
}

.blue-icon {
  margin-left: 42%;
  overflow: hidden;
  width: 30%;
  z-index: 0;
}

.grey-icon {
  margin-top: 15%;
  margin-left: -100px;
  width: 25%;
  z-index: 1;
}
