.contact-us {
  display: flex;
  flex-direction: row;
  /* grid-template: repeat(1, 1fr) / 1fr 1fr; */
  border: 1px;
  background-color: #d9c5be;
  font-weight: bold;
  align-items: center;
  width: 100%;
}

.contact-us-form {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  margin: 16px;
}

.contact-us-form-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.contact-us-input {
  border: 1px solid #889ba1;
  border-radius: 5px;
  font-family: PoppinsExtraLight;
  color: #f4f4f4;
  background-color: #889ba1;
  margin: 5px;
  padding: 5px;
  width: 100%;
}

.contact-us-textarea {
  height: 100px;
}

.contact-us-names {
  display: flex;
  justify-content: center;
  width: 100%;
}

.contact-us-email-company {
  display: flex;
  justify-content: center;
  width: 100%;
}

.contact-us-message {
  display: flex;
  justify-content: center;
  width: 100%;
}

.contact-us-send-button {
  display: flex;
  border: 1px solid #889ba1;
  background-color: #889ba1;
  color: #d5c1ba;
  border-radius: 5px;
  justify-content: center;
  width: 100%;
}

.contact-us-images {
  flex-grow: 1;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.headshots {
  border: 5px solid #49776a;
  border-radius: 1000px;
  width: 200px;
  margin-top: 30px;
}

.headshotWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headshotNames {
  margin-bottom: 0;
}

@media only screen and (max-width: 1250px) {
  .contact-us-images {
    flex-direction: column;
  }
  .contact-us {
    flex-direction: column;
  }
}
