.contact-us {
  display: grid;
  flex-direction: column;
  grid-template: repeat(1, 1fr) / 1fr 1fr;
  border: 1px solid red;
  font-weight: bold;
  align-items: center;
  width: 100%;
}

.contact-us-form {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: auto;
  margin: auto;
}

.contact-us-input {
  border: 1px solid black;
  border-radius: 5px;
  font-family: monospace;
  color: white;
  background-color: black;
  margin: 2px;
  width: 100%;
}

.contact-us-names {
  display: flex;
  justify-content: center;
  width: 100%;
}

.contact-us-email-company {
  display: flex;
  justify-content: center;
  width: 100%;
}

.contact-us-message {
  display: flex;
  justify-content: center;
  width: 100%;
}

.contact-us-send-button {
  display: flex;
  border: 1px solid black;
  background-color: black;
  color: white;
  border-radius: 5px;
  justify-content: center;
  width: 100%;
}

.contact-us-images {
  align-items: center;
}

.saph-headshot {
  border: solid whitesmoke;
  border-radius: 1000px;
  width: 200px;
  height: auto;
  margin: 20px;
}
.luke-headshot {
  border: solid whitesmoke;
  border-radius: 1000px;
  width: 200px;
  height: auto;
  margin: 20px;
}
