.video-container {
  display: flex;
  overflow: visible;
  flex-direction: column;
  background-color: #0b1e2d;
  font-weight: bold;
  align-items: center;
  width: 100%;
}

.video-content {
  display: flex;
  width: 80%;
  height: auto;
  z-index: 1;
  border-radius: 10px;
  margin-top: -150px;
}
