.about-us-box {
  display: flex;
  flex-wrap: wrap;
  background-color: #0b1e2d;
  overflow: hidden;
}
.top-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  z-index: 0;
}

.about-us-content-left {
  display: flex;
  font-family: Moderat;
  padding-left: 100px;
  font-size: 50px;
  width: 60%;
  height: 40%;
  color: #eeedec;
  z-index: 2;
  margin: 10px;
}

.blue-icon {
  display: flex;
  position: absolute;
  overflow: hidden;
  right: -100px;
  top: 1000px;
  width: 500px;
  height: auto;
  z-index: 0;
}

.bottom-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-right: 350px;
  padding-bottom: 50px;
  z-index: 2;
}
.about-us-content-right {
  display: flex;
  flex-wrap: wrap;
  font-family: Moderat;
  font-size: 30px;
  width: 50%;
  height: fit-content;
  color: #eeedec;
  z-index: 2;
}
.link {
  display: flex;
  padding-top: 50px;
  flex-wrap: wrap;
  justify-content: start;
  font-family: Runda;
  font-size: 20px;
  color: #eeedec;
  z-index: 2;
}

.grey-icon {
  display: flex;
  position: absolute;
  overflow: hidden;
  justify-content: start;
  left: 50px;
  top: 1225px;
  width: 350px;
  z-index: 1;
}
