.about-us-box {
  display: flex;
  flex-wrap: wrap;
  background-color: #0b1e2d;
}
.top-container {
  margin-top: 50px;
  display: flex;
  z-index: 0;
}

.about-us-content-left {
  display: flex;
  font-family: Moderat;
  padding-left: 100px;
  font-size: 50px;
  width: 60%;
  height: 40%;
  color: #eeedec;
  z-index: 1;
  margin: 10px;
}

.blue-icon {
  position: relative;
  overflow: hidden;
  right: -100px;
  top: -75px;
  width: 500px;
  height: auto;
  z-index: 0;
}

.bottom-container {
  display: flex;
  justify-content: center;
  margin-top: -150px;
  z-index: 1;
}

.about-us-content-right {
  display: flex;
  font-family: Moderat;
  padding-right: 100px;
  font-size: 30px;
  width: 33.3%;
  height: fit-content;
  color: #eeedec;
  z-index: 0;
}

.grey-icon {
  position: relative;
  overflow: hidden;
  right: 100px;
  top: -20px;
  width: 500px;
  height: auto;
  z-index: 1;
}
