.opening-statement-div {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 70vh;
  overflow: hidden;
  background-color: #eeedec;
  color: #0077ff;
  z-index: -1;
}

.opening-statement {
  display: flex;
  text-align: start;
  align-items: center;
  width: 60%;
  height: 50%;
  font-size: 3rem;
  color: #0077ff;
  z-index: 1;
  flex-shrink: 1;
}

@media screen and (max-width: 768px) {
  .opening-statement-div {
    height: 50vh;
  }

  .opening-statement {
    margin-top: 80px;
    width: 66%;
    height: 5%;
    font-size: 1.5rem;
  }
}
