.our-work-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #060f16;
}

.our-work-image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90vw;
}

.images {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 0 20px;
  width: 40vw;
  height: 15%;
  z-index: 2;
  border-radius: 10px;
}

.shrink-on-hover {
  display: flex;
  transition-duration: 0.4s;
}
.shrink-on-hover:hover,
.shrink-on-hover:active {
  transform: scale(0.95);
}

.link-container {
  display: flex;
  width: 80vw;
  flex-direction: row;
  justify-content: end;
  padding-bottom: 30px;
  background-color: #060f16;
  z-index: 2;
}
.link {
  justify-content: start;
  text-align: end;
  color: #eeedec;
  z-index: 2;
}
.brass-dot {
  width: 15px;
  padding-right: 10px;
}

@media screen and (max-width: 768px) {
  .our-work-image-container {
    width: 80vw;
  }

  .images {
    width: 70vw;
  }

  .link-container {
    width: 70vw;
  }

  .shrink-on-hover {
    display: flex;
    transition-duration: 0.4s;
  }
  .shrink-on-hover:hover,
  .shrink-on-hover:active {
    transform: scale(0.95);
  }
}
