.footer-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #eeedec;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
}

.footer-content-link {
  display: block;
}
