.footer-content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 20px;
  background-color: #eeedec;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
}

.footer-content-link {
  display: block;
  margin-right: 20px;
  text-align: end;
  padding-right: 5vw;
}

/* @media screen and (max-width: 768px) {
  .footer-content-link {
    padding-right: 20px;
  }
} */
