#invertedcursor {
  position: absolute;
  width: 25px;
  height: 25px;
  background: #f3fdb8;
  border-radius: 50%;
  top: var(--y, 0);
  left: var(--x, 0);
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  transition: 0.1s;
  z-index: 99999;
}
