@font-face {
  font-family: Moderat;
  src: url(components/assets/Fonts/Moderat-Regular.otf);
}

@font-face {
  font-family: Runda;
  src: url(https://use.typekit.net/hfs2ijc.css);
}

.app {
  margin: -10px;
  overflow: inherit;
}

.body {
  font-family: 'Moderat';
}
.p {
  font-family: 'Moderat';
  font-size: large;
  color: #eeedec;
}

.h1 {
  font-family: 'Moderat';
  font-size: xx-large;
  color: #eeedec;
}

.a {
  font-family: 'Runda Normal' sans-serif;
  color: #eeedec;
  font-size: large;
}
