@font-face {
  font-family: 'Moderat';
  src: url('/Users/arranstrange/Documents/Coding/luke-and-saph/src/components/assets/Fonts/Moderat-Regular.otf')
    format('otf');
}
body {
  margin: 0;
  font-family: 'Moderat';
}
p {
  font-family: 'Moderat';
  font-size: large;
  color: #eeedec;
}

h1 {
  font-family: 'Moderat';
  font-size: xx-large;
  color: #eeedec;
}
