@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 0.6s ease-out 2.9s;
}

.intro-gif-div {
  display: flex;
  position: fixed;
  overflow: hidden;
  justify-content: start;
  align-items: start;
  width: 101%;
  height: 101%;
  z-index: 9999;
  transition: ease-out 1s;
}

.intro-gif {
  display: flex;
  width: 100%;
  height: 100%;
}
