.navbar {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  align-items: start;
  background-color: #eeedec;
  width: 100vw;
  overflow: hidden;
  z-index: 2;
}
.main-logo {
  display: flex;
  grid-column: 1 /1 span;
  top: 0;
  left: 0;
  width: 20vw;
  padding: 20px;
}

.link-box {
  display: flex;
  grid-column: 2/3 span;
  flex-direction: row;
  justify-content: end;
  align-items: top;
  padding-top: 20px;
  padding-right: 20px;
  z-index: 100;
}

.links {
  top: 0;
  right: 0;
  padding-right: 2vw;
}
